<main class="p-5">
  <h1 class='text-center text-uppercase'>Hello world H1</h1>
  <h2 class='text-end text-lowercase'> Hello world H2</h2>
  <h3 class='text-capitalize'>Hello world H3 -
    text-capitalize</h3>
  <hr />
  <div class='display-1 text-muted'> Hello world H1</div>
  <div class='display-2'>Hello world H2</div>
  <div class='display-3'>Hello world H3</div>
  <hr />
  <div class='text-muted text-end'>
    Додатковий текст
    <span class='display-6'>text</span>
  </div>
  <hr />
  <button class='btn btn-primary text-uppercase'>
    Button-primary
  </button>
  <br /><br />
  <a href='#' class='btn btn-primary'> teg a</a>
  <hr />
  <p class='text-primary'>text-primary</p>
  <p class='text-success'>text-success</p>
  <p class='text-danger'>text-danger</p>
  <p class='text-light'>text-light</p>
  <p class='text-muted'>text-muted</p>
  <hr />
  <p>
    Outline buttons - це тип кнопок, які мають тіньовий
    контур,приносять? Замініть стандартні класи
    модифікаторів
  </p>
  <button class='btn btn-outline-primary'>
    btn-outline-primary</button>
  <button class='btn btn-secondary'> btn-secondary</button>
  <button class='btn btn-outline-secondary'>
    btn-outline-secondary</button>
  <button class='btn btn-outline-warning'>
    btn-outline-warning</button>
  <hr />
  <p>Sizes buttons - це додаткові класи</p>
  <button class='btn btn-outline-primary btn-lg'>
    btn-outline-primary</button>
  <button class='btn btn-secondary btn-sm'>
    btn-secondary</button>
  <hr />
  <div class='card'>
    <div class='card-body'>
      Block або Box - це компонент, який створює коробку для
      контенту, яка має сіру рамку довкола контенту
    </div>
  </div>

</main>