<header class='row'>
	<div class='nav'>
		<div class='nav-item col-6 ps-4'> <b>Зайцев Дмитро Ігорович</b> </div>
		<div class='nav-item text-end col-6'> <b>Resume ptoject</b> </div>
	</div>
	<hr class='mt-3' />
</header>

<main class=''>
	<h2>Список сторінок</h2>
	<p>Тут вам потрібно написати інформацію про ваA проєкт.
		<br />
		Поки що можна написати будь-який текст
	</p>

	<h3>Сторінки згідно ТЗ</h3>

	<div class='nav flex-column '>
		<div class='nav-item'>
			<a href='/shophome' class='btn btn-primary'>Page shophome</a>
		</div>
		<div class='nav-item'>
			<a href='/shoporder' class='btn btn-primary'>Page shoporder</a>
		</div>
		{{!-- <div class='nav-item'>
			<a href='/shopcatalog' class='btn btn-primary'>Page shopcatalog</a>
		</div> --}}
		<div class='nav-item'>
			<a href='/shopreview' class='btn btn-primary'>Page shopreview</a>
		</div>
			<div class='nav-item'>
			<a href='/shopcart' class='btn btn-primary'>Page shopcart</a>
		</div>


	</div>
	<h3>Приклади згідно відеоуроків</h3>

	<div class='nav flex-column'>

		<div class='nav-item'>
			<a href='/summary' class='btn btn-primary'>Resume page summary </a>
		</div>
		<div class='nav-item'>
			<a href='/skills' class='btn btn-primary'>Resume page skills </a>
		</div>
		<div class='nav-item'>
			<a href='/education' class='btn btn-primary'>Resume page education </a>
		</div>
		<div class='nav-item'>
			<a href='/work' class='btn btn-primary'>Resume page work </a>
		</div>

		<div class='nav-item'>
			<a href='/program' class='btn btn-primary'>Page program</a>
		</div>
		<div class='nav-item'>
			<a href='/web' class='btn btn-primary'>Page web</a>
		</div>
		<div class='nav-item'>
			<a href='/person' class='btn btn-primary'>Page person</a>
		</div>
		<div class='nav-item'>
			<a href='/bio' class='btn btn-primary'>Page bio</a>
		</div>
		<div class='nav-item'>
			<a href='/js' class='btn btn-primary'>Page js</a>
		</div>
		<div class='nav-item'>
			<a href='/car' class='btn btn-primary'> Page car </a>
		</div>
		<div class='nav-item'>
			<a href='/task21' class='btn btn-primary'> Page task21 </a>
		</div>
		<div class='nav-item'>
			<a href='/task31' class='btn btn-primary'> Page task31 </a>
		</div>
	</div>

	<h3>Приклади згідно відеоуроків bootstrap</h3>
	<div class='nav flex-column'>
		<div class='nav-item'>
			<a href='/bootstrap' class='btn btn-primary'>bootstrap</a>
		</div>
		<div class='nav-item'>
			<a href='/bootstrap-card' class='btn btn-primary'>bootstrap-card</a>
		</div>
		<div class='nav-item'>
			<a href='/bootstrap-nav' class='btn btn-primary'>bootstrap-nav</a>
		</div>
		<div class='nav-item'>
			<a href='/bootstrap-field' class='btn btn-primary'>bootstrap-field</a>
		</div>
	</div>
</main>