<main class="p-5">


  <section class=' p-5 box'>
    <h1 style="color:yellow">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <h1 class="button">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    loren loren loren
    <br>

    <button type='button' class='button' id="button">Купити</button>
    <button type='button' class='btn btn-dark'>Dark</button>
    <button type='button' class='btn btn-secondary'>Secondary</button>
    <span class='badge text-bg-primary'>Primary</span>
    <p class="user">Link</p>
  </section>

<section class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <p class="user">
      <em class="child"> Test em</em>
    </p>
    </section>
    <section class="p-5 box">
      <strong>Test</strong>
      <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <strong>Test</strong>
    <em>test</em>
    <div>
 <p class="">
      <em class="child"> Test em</em>
    </p>
    </div>
   
</section>


  <footer class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <p class="user">
      <em class="child"> Test em</em>
    </p>
    
 <em class="child">Test em</em>
    <div>
      <div>
        <div>
          <div class="child">Test div em</div>
        </div>
      </div>
    </div>
  </footer>
</main>