{{!-- <main class="p-5">


  <section class=' p-5 box'>
    <h1 style="color:yellow">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
    <h1 class="button">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    loren loren loren
    <br>

    <button type='button' class='button' id="button">Купити</button>
    <button type='button' class='btn btn-dark'>Dark</button>
    <button type='button' class='btn btn-secondary'>Secondary</button>
    <span class='badge text-bg-primary'>Primary</span>
    <p class="user">Link</p>
  </section>

  <section class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <p class="user">
      <em class="child"> Test em</em>
    </p>
  </section>
  <section class="p-5 box">
    <strong>Test</strong>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <strong>Test</strong>
    <em>test</em>
    <div>
      <p class="">
        <em class="child"> Test em</em>
      </p>
    </div>

  </section>


  <footer class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <p class="user">
      <em class="child"> Test em</em>
    </p>

    <em class="child">Test em</em>
    <div>
      <div>
        <div>
          <div class="child">Test div em</div>
        </div>
      </div>
    </div>
  </footer>
</main> --}}
{{!--
<main class="p-5">
  <div class="card p-5 card-dark">
    <ul>
      <li class="item">1</li>
      <li class="item">2</li>
      <li class="item">3</li>
      <li class="item">4</li>
    </ul>
  </div>
  <div class="card p-5 card-dark">

    <div class="item">only 1</div>

  </div>
  <div class="card p-5 card-dark">
    <div class="item">First</div>

    <p class="item">Second</p>
    <p class="item">Second</p>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <div class="item">First</div>
    <article class="item">Last</article>
  </div>
  <div class="card p-5 card-dark">
    <div class="item">First</div>

    <p class="item">Second</p>
    <p class="item">Second</p>
    <strong class="item">test one teg</strong>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <div class="item">First</div>
    <p>NOT</p>
    <p></p>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <article class="item">Last</article>
    <article class="item">Last</article>
  </div>

</main> --}}

<main class="p-5">
  <div class="card p-5 card-dark">
    <input required class="input-dark p-5" placeholder="required">
    <input class="input-dark p-5" type="number" placeholder="no required">
  </div>
  <div>
    <div class="card p-5 card-dark img">
      <img src="    https://picsum.photos/200/300" height="100px" alt="image small card 100px" class="small-img">
      <a href="https://picsum.photos/200/300" rel="external test test">link</a>

      <button class="btn"> click me!</button>
      <br>
      <a class="small btn btn-secondary" href="https://picsum.photos/200/300"> click me!</a>
      <br>
      <a class="small btn btn-secondary big" href="https://picsum.photos/200/300"> click me!</a>
    </div>
  </div>

   <div class="card p-5  card-dark">
<p class="big-text">This is text about info big test  info <br> this is text about info big test  info this is text about info big test  info</p>
   </div>
</main>