<main class="p-5">

	<div class="card p-5">
		<p id="test">
			Hello world! Hello world! Hello world! Hello world! tab
		</p>
		<p id="test">
			Hello world!
		</p>
		<p id="test" hidden>
			Hello world!
		</p>
		<span class="test">test</span>
	</div>
	<pre>	test</pre>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>

<div style="padding:50px 0 50px 100px; background:gray; height:200px">
	
	<span>Category cat</span>
	<span>Category dog</span>
	<span>Category fish</span>
	<span>Category fish</span>
	<span class="block">category top list</span>
</div>

	<div>Block</div>


{{!-- Словник продвинутих" CSS властивостей --}}

	<section class="mt-5">
		<hr>
		<div class="advanced-text">
			<q> "Словник продвинутих" </q>
			CSS властивостей
		</div>
		<div>
			<input type="checkbox" class="advanced" id="input_ancor" checked>
			<label for="input_ancor"> accent-color: red;</label>
		</div>
		<div class="cyfra">3.145768798760000</div>
		<div class="cyfra"> 0000</div>
	</section>


</main>