/* ==================урок css селектори ч.1 ==================== */

/* :root{
  background: pink;
}
html {
  max-width: 1000px;
  background: blue;
}
body{
  margin: 32px;
  background: #fff;
  background: rgb(0, 255, 128);
}


* {
 
  color: red;
}
h1{
  color: rgb(128, 0, 79);
}

.box{
  background: #b0adad;
}

#user{
  color: blueviolet;
}

h1, h2#user, button.button#button {
  color: green;
}

h1.button{
  background: red;
  color: black;
}
#user, .user{
  color: blueviolet;
}

#box > p {
  color: aqua;
}

footer >.user {
  color: palevioletred;
}
footer >h1 {
  color: palevioletred;
}

/* можна вказати для вкладених тегів/селекторів */
/* footer em.child,
footer div.child,
footer .child {
  color: rgb(211, 216, 112);
}

/* надати властивості тегу p після h1  */
/* h1+p {
  background:black ;
}

h1~p,
h1 ~ * > p {
  background: black;
}  */


/* ==================урок css селектори ч.2 ==================== */
.card-dark{
  background: rgb(254, 251, 251);
}
.item{
  color: green;
}
/* .item:first-child{
  color: blue;
} */

/* .item:last-child{
  color: rgb(255, 0, 179);
} */

.item:only-child{
  color: darkorange;
}
/* .item:first-of-type{
  color: rgb(0, 179, 255);
} */

.item:last-of-type{
  color: rgb(0, 179, 255);
}
.item:only-of-type{
    color: brown;
    
}

/* .item:nth-child(3n-2){
  color: blueviolet;
  font-size: 22px;
} */
/* .item:nth-last-child(3n-2){
  color: blueviolet;
  font-size: 22px;
} */
/* 
.item:nth-of-type(2n){
  color: blueviolet;
  font-size: 22px;
} */

 /* p:not(.item){
  color:blueviolet;
  text-decoration: underline;
 }  */
 p:empty{
  height: 10px;
  background: red;
 }

 .input-dark {
  background: #9f9b9b;
 }
 .input-dark[required] {
  background: red;
 }
 .input-dark[type='number'] {
  background: #b3ff00;
 }
 /* .small-img[alt~='small']{
  height: 500px;
 } */
.small-img[alt~='small']{
  height:500px
}
a[rel~='external']{
  color: #16b338;
}
button[class|='btn']{
  background: rgb(249, 113, 113);
}
/* a[class^='btn']{
  background: rgb(249, 113, 244);
} */
a[class*='btn']{
  background: rgb(249, 113, 244);
}

a[class$='big']{
  background: rgb(99, 162, 235);
}
.btn::first-letter{
  color: red;
}
.big-text::first-line{
  color: red;
}
.input-dark::placeholder{
  color: rgb(227, 178, 4);
  background: blue;
}
.big-text::before{
  content: '$$$';
  color: #16b338;
  background: yellow;
}
.big-text::after{
  content: '$$$';
  color: #e50404;
  background: yellow;
}
/* #test:target{
color: red;
} */
.link:link{
  color: red;
}
.link:hover{
  color: green;
}
/* .card:hover{
  background: green;
} */
.link:active{
  color: purple;
}
.card:active{
  background: purple;
}
input{
  background-color: gray;
}
input:focus{
  background-color: red;
}
.card:focus-within{
  background: red;
}

.card:lang(en) > span::after{
  content: '  (en)';
}
button{
  background-color: greenyellow;
}
button:enabled{
  background-color: #16b338;
}
button:disabled{
  background-color: aqua;
  color: #9f9b9b;
}

.inp:read-write{
  background-color: blue;
}
.inp:read-only{
  background-color: rgb(255, 0, 183);
}
input[type='checkbox']~span{
  background: red;
}
input[type='checkbox']:checked~span{
  background: rgb(0, 255, 102);
}
.valid:valid{
  background: yellow;
}
.valid:invalid{
  background: rgb(255, 140, 0);
}
.valid:optional{
  background: rgb(0, 255, 0);
}
.number:focus{
  background: gray;
}
.number:out-of-range{
  background: red;
}
.number:in-range{
  background: rgb(0, 255, 0);
}
.number:invalid{
  background: yellow;
}
input:placeholder-shown ~span{
  background: palevioletred;
}

